.navContainer {
    width: 100%;
    height: 75px;
    padding: 0 var(--padding);
    justify-content: end;
    box-shadow: var(--shadowColor) 0px 8px 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: var(--pureWhiteColor);
}

.navContainer .navList {
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}

.navContainer .navList img,
.navContainer .navList .not {
    height: 40%;
    cursor: pointer;
}

.navContainer .navList .not{
    position: relative;
}

.navContainer .navList .not img {
    height: 100%;
}

.navContainer .navList .not p{
    position: absolute;
    top: -15px;
    right: -15px;
    background: var(--redColor);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
}

.navContainer .navList .logout {
    cursor: pointer;
    height: 60%;
    background: var(--redColor);
    align-items: center;
    gap: 15px;
    padding: 10px 30px;
    border-radius: var(--borderRadius);
}

.navContainer .navList .logout img {
    height: 100%;
}

.navContainer .navList .logout p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navContainer .navList .notCount{
    position: absolute;
    top: 0;
}

@media only screen and (max-width: 890px) {
    .navContainer .navList {
        width: 75%;
    }
}

@media only screen and (max-width: 580px) {
    .navContainer {
        position: fixed;
        z-index: 99;
        top: auto;
        bottom: 0;
        left: 0;
    }
    .navContainer .navList {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    .navContainer .navList .logout {
        background: transparent;
        height: 40%;
        padding: 0;
        gap: 0;
    }
    .navContainer .navList .logout p {
        display: none;
    }
    .navContainer .navList .logout img{
        height: 100%;
    }
}