.poemDisplayContainer {
  width: 100%;
  min-height: 100vh;
  padding: 30px var(--padding);
  position: relative;
}

.poemDisplayContainer .headerSec {
  height: 130px;
}

.poemDisplayContainer .poemSecCont {
  width: 100%;
  padding: 20px 0;
}

.poemDisplayContainer .poemSecCont p,
.poemDisplayContainer .poemSecCont textarea {
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 150px;
  background: transparent;
  min-height: 100px;
}

.poemDisplayContainer .actionCenter {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--padding);
}

.poemDisplayContainer .actionCenter p {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
}

.poemDisplayContainer .actionCenter img,
.poemDisplayContainer .actionCenter p {
  cursor: pointer;
}

.poemDisplayContainer .actionCenter input {
  padding: calc(var(--cardPadding) - 2px) var(--cardPadding);
  border-radius: var(--borderRadius);
  background: var(--redColor);
}

@media only screen and (max-width: 1080px) {
  .poemDisplayContainer .actionCenter p {
    font-size: 9px;
  }
}

@media only screen and (max-width: 400px) {
  .poemDisplayContainer .actionCenter p {
    font-size: 7px;
  }
}
