.skeleton.postCard {
    cursor: auto;
}

.skeleton.postCard .postPoemHeading h4{
    width: 100%;
    height: 35% !important;
}

.skeleton.postCard .postPoemHeading p {
    width: 100px;
    height: 20%;
}

.skeleton.postCard .postPoemSec {
    margin-top: 25px;
    height: calc(100% - 32% - 25px);
}

.skeleton.postCard .postPoemHeading h4,
.skeleton.postCard .postPoemHeading p,
.skeleton.postCard .postPoemSec {
    border-radius: var(--borderRadius);
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }