* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--josefinFontFamily);
  /* user-select: none; */
  /* scrollbar-gutter: stable; */
}

:root {
  --josefinFontFamily: "Josefin Sans", sans-serif;
  --borderRadius: 10px;
  --padding: 250px;
  --cardPadding: 20px;
  --transSkinColor: rgba(248, 237, 227, 0.8);
  --transLightGreenColor: rgba(167, 207, 210, 0.8);
  --transPurpleColor: rgba(178, 164, 255, 0.8);
  --transPaleGreenColor: rgba(221, 255, 187, 0.8);
  --skinColor: rgba(248, 237, 227, 1);
  --lightGreenColor: rgba(167, 207, 210, 1);
  --purpleColor: rgba(178, 164, 255, 1);
  --paleGreenColor: rgba(221, 255, 187, 1);
  --redColor: #ffb4b4;
  --pureWhiteColor: #ffffff;
  --shadowColor: #e0e5ec;
}

::-webkit-scrollbar {
  width: 0px;
  border-radius: var(--borderRadius);
}

/* ::-webkit-scrollbar-track{
    background-color: red;
    border-radius: var(--borderRadius);
}  */

body {
  width: 100%;
  max-width: 100vw;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

a:focus {
  color: black;
  outline: none;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.displayNone {
  display: none;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
}

@media only screen and (max-width: 1440px) {
  :root {
    --padding: 150px;
  }
}

@media only screen and (max-width: 1190px) {
  :root {
    --padding: 100px;
  }
}

@media only screen and (max-width: 1080px) {
  :root {
    --padding: 25px;
  }
}

/* 
@media only screen and (max-width: 675px) {
  body{
    height: fit-content;
  }
  #root {
    height: fit-content;
  }
} */
